<!-- <mat-toolbar color="primary">
  <span>
    E-Commerce Application
  </span>

  <span class="space-buttons"></span>
  <button *ngIf="! isLoggedIn()" routerLink="/login" mat-raised-button color="primary">
    Login
  </button>
  <button *ngIf="isLoggedIn()" (click)="logout()" mat-raised-button color="warn">
    Logout
  </button>
</mat-toolbar>

<mat-toolbar color="primary" *ngIf="isLoggedIn()">
  <button mat-raised-button color="primary" routerLink="/">Home</button>
  <button *ngIf="!isAdmin()" mat-raised-button color="primary" routerLink="/cart">Cart</button>
  <button *ngIf="!isAdmin()" mat-raised-button color="primary" routerLink="/myOrders">My Orders</button>
  <button *ngIf="isAdmin()" mat-raised-button color="primary" routerLink="/addNewProduct">Add New Product</button>
  <button *ngIf="isAdmin()" mat-raised-button color="primary" routerLink="/showProductDetails">Show Product Details</button>
  <button *ngIf="isAdmin()" mat-raised-button color="primary" routerLink="/orderInformation">Order Information</button>
</mat-toolbar> -->
<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>
<header class="header">
  <mat-toolbar>
    <img
      src="../../assets/images/top-bar/logo_1x2-150x75.png"
      alt="logo"
      class="animate__animated animate__fadeInDown"
      style="height: 75px; width: 150px"
    />
    <div class="nav-container">
      <nav class="main-nav">
        <span><a routerLink="">Home</a></span>
        <span><a routerLink="store">Store</a></span>
        <span><a routerLink="men">Men</a></span>
        <span><a routerLink="women">Women</a></span>
        <span><a routerLink="Unisex">Unisex</a></span>
        <span><a routerLink="Skincare">Skin Care</a></span>
        <span><a routerLink="Giftset">Gift Set</a></span>
        <span
          ><a *ngIf="isLoggedIn() && isAdmin()" routerLink="/admin"
            >Admin</a
          ></span
        >

        <!-- <span><a routerLink="Account">Account</a></span> -->
        <button
          mat-button
          *ngIf="!isLoggedIn()"
          type="button"
          class="btn btn-success"
          routerLink="/login"
        >
          Login
        </button>
        <button
          mat-button
          *ngIf="isLoggedIn()"
          type="button"
          class="btn btn-danger"
          (click)="logout()"
        >
          Logout
        </button>
      </nav>
    </div>
    <a><mat-icon aria-label="Example home icon">add_shopping_cart</mat-icon></a>
  </mat-toolbar>
</header>
