<!-- <mat-toolbar color="primary">
  <span>
    E-Commerce Application
  </span>

  <span class="space-buttons"></span>
  <button *ngIf="! isLoggedIn()" routerLink="/login" mat-raised-button color="primary">
    Login
  </button>
  <button *ngIf="isLoggedIn()" (click)="logout()" mat-raised-button color="warn">
    Logout
  </button>
</mat-toolbar>

<mat-toolbar color="primary" *ngIf="isLoggedIn()">
  <button mat-raised-button color="primary" routerLink="/">Home</button>
  <button *ngIf="!isAdmin()" mat-raised-button color="primary" routerLink="/cart">Cart</button>
  <button *ngIf="!isAdmin()" mat-raised-button color="primary" routerLink="/myOrders">My Orders</button>
  <button *ngIf="isAdmin()" mat-raised-button color="primary" routerLink="/addNewProduct">Add New Product</button>
  <button *ngIf="isAdmin()" mat-raised-button color="primary" routerLink="/showProductDetails">Show Product Details</button>
  <button *ngIf="isAdmin()" mat-raised-button color="primary" routerLink="/orderInformation">Order Information</button>
</mat-toolbar> -->
<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>

<header>
  <mat-toolbar>
    <img
      src="../../assets/images/top-bar/logo.png"
      alt="logo"
      class="animate__animated animate__fadeInDown"
      style="height: 75px; width: 150px"
    />

    <div class="nav-container" *ngIf="isWebScreen | async">
      <nav class="main-nav">
        <span
          ><a
            [routerLinkActive]="'active'"
            routerLink=""
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          ></span
        >
        <span
          ><a
            [routerLinkActive]="'active'"
            (click)="getAllProducts()"
            routerLink="store"
            >Store</a
          ></span
        >
        <span
          ><a [routerLinkActive]="'active'" routerLink="men" #unmonitored>
            Men</a
          ></span
        >
        <span
          ><a [routerLinkActive]="'active'" routerLink="women">Women</a></span
        >
        <span
          ><a [routerLinkActive]="'active'" routerLink="unisex">Unisex</a></span
        >
        <span
          ><a [routerLinkActive]="'active'" routerLink="skincare"
            >Skin Care</a
          ></span
        >
        <span
          ><a [routerLinkActive]="'active'" routerLink="aboutus"
            >About Us</a
          ></span
        >
        <span
          ><a
            *ngIf="isLoggedIn() && isAdmin()"
            [routerLinkActive]="'active'"
            routerLink="/admin"
            >Admin</a
          ></span
        >
        <button
          mat-button
          *ngIf="!isLoggedIn()"
          type="button"
          class="btn btn-success"
          routerLink="/login"
        >
          Login
        </button>
        <button
          mat-button
          *ngIf="isLoggedIn()"
          type="button"
          class="btn btn-danger"
          (click)="logout()"
        >
          Logout
        </button>
      </nav>
    </div>

    <div class="icon">
      <mat-icon><i routerLink="/cart" class="bi bi-cart-plus"></i></mat-icon>

      <mat-icon
        mat-icon
        *ngIf="isMobScreen | async"
        (click)="toggleNav(sidenav)"
        ><i class="bi bi-list"></i
      ></mat-icon>
    </div>
  </mat-toolbar>
  <div class="loader-container" *ngIf="loaderService.isLoading | async">
    <img class="loader-image" src="../../assets/images/bg.jpeg" alt="" />
    <mat-spinner [diameter]="70" [strokeWidth]="3"></mat-spinner>
  </div>
</header>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over" position="end">
    <button routerLink="" class="btn w-100 mt-2 p-6 side-btn">
      <i class="bi bi-house"></i> Home
    </button>
    <button routerLink="store" class="btn w-100 mt-2 p-6 side-btn">
      <i class="bi bi-shop-window"></i> Store
    </button>
    <button routerLink="men" class="btn w-100 mt-2 p-6 side-btn">
      <i class="bi bi-gender-male"></i> Men
    </button>
    <button routerLink="women" class="btn w-100 mt-2 p-6 side-btn">
      <i class="bi bi-gender-female"></i> Women
    </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet (activate)="onActive()"></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
