<footer>
  <div class="foot-container row p-6">
    <div class="container">
      <div class="foot-image">
        <img
          style="width: 240px; height: 120px"
          src="../../assets/images/foot-bar/logo-white.png"
          alt="theperfumestore"
        />
      </div>
      <div class="social">
        <a href=""><i class="bi bi-facebook"></i></a>
        <a href=""><i class="bi bi-instagram"></i></a>
        <a href=""><i class="bi bi-twitter"></i></a>
        <a href=""><i class="bi bi-youtube"></i></a>
      </div>
    </div>
    <div class="container">
      <h4>Quick Links</h4>
      <ul>
        <li><a routerLink="">Home</a></li>
        <li><a href="">About Us</a></li>
        <li><a href="">My Account</a></li>
        <li><a href="">Cart</a></li>
        <li><a href="">Contact</a></li>
        <li><a href="">Delivery Details</a></li>
        <li><a href="">Privacy Policy</a></li>
        <li><a href="">Terms & Condition</a></li>
        <li><a href="">Return Policy</a></li>
      </ul>
    </div>
    <div class="container">
      <h4>Choose Your Perfume</h4>
      <ul>
        <li><a routerLink="men">Men</a></li>
        <li><a routerLink="women">Women</a></li>
        <li><a routerLink="unisex">Unisex</a></li>
        <li><a routerLink="skincare">Skin Care</a></li>
      </ul>
    </div>
    <div class="container">
      <h4>Contact</h4>
      <address>
        <ul>
          <li><i class="bi bi-geo-alt"></i><a> Theperfumestore,chennai</a></li>
          <li>
            <i class="bi bi-telephone"></i
            ><a href="tel:++919790852233"> +91 9790852233</a>
          </li>
        </ul>
      </address>
      <h4>Payment Secured By</h4>
      <img
        width="220px"
        height="90px"
        src="../../assets/images/razorpay.webp"
        alt=""
      />
    </div>
  </div>
</footer>
<div class="copyright">
  <h6>The Perfume Store<sup>&copy; </sup></h6>
  <h6>musharraf</h6>
</div>
