<footer>
  <div class="foot-container">
    <div class="container container-1">
      <div class="foot-image">
        <img
          style="width: 240px; height: 120px"
          src="../../assets/images/foot-bar/logo-white.png"
          alt="theperfumestore"
        />
      </div>
      <div class="social">
        <a href=""><i class="bi bi-facebook"></i></a>
        <a href=""><i class="bi bi-instagram"></i></a>
        <a href=""><i class="bi bi-twitter"></i></a>
        <a href=""><i class="bi bi-youtube"></i></a>
      </div>
    </div>
    <div class="container container-2">
      <h3>Quick Links</h3>
      <ul>
        <li><a href="">Home</a></li>
        <li><a href="">About</a></li>
        <li><a href="">My Account</a></li>
        <li><a href="">Cart</a></li>
        <li><a href="">Contact</a></li>
        <li><a href="">Delivery Details</a></li>
        <li><a href="">Privacy Policy</a></li>
        <li><a href="">Terms & Condition</a></li>
        <li><a href="">Return Policy</a></li>
      </ul>
    </div>
    <div class="container container-3">
      <h3>Choose Your Perfume</h3>
      <ul>
        <li><a href="">Men</a></li>
        <li><a href="">Women</a></li>
        <li><a href="">Unisex</a></li>
      </ul>
    </div>
    <div class="container container-4">
      <h4>Contact</h4>
      <address>
        <ul>
          <li><i class="bi bi-geo-alt"></i> Theperfumestore,chennai</li>
          <li>
            <i class="bi bi-telephone"></i
            ><a href="tel:++919790852233"> +91 9790852233</a>
          </li>
        </ul>
      </address>
      <h4>Payment Secured By</h4>
    </div>
  </div>
  <div class="copyright">
    <h6>Copyright &nbsp;</h6>
    <h6>musharraf</h6>
  </div>
</footer>
