<mat-sidenav-container>
  <mat-sidenav
    #sidenav
    [mode]="slide"
    [opened]="(isHandset | async).matches ? 'false' : 'true'"
  >
    <!-- <div *ngFor="let brand of brands">
      <button align="left" mat-flat-button class="w-100">{{ brand }}</button>
    </div> -->
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="container mt-2">
      <mat-icon *ngIf="isMobScreen | async" (click)="toggleNav(sidenav)"
        ><i class="bi bi-three-dots-vertical"></i
      ></mat-icon>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Search any product</mat-label>
        <input
          matInput
          #searchkeyword
          (keyup)="searchByKeyword(searchkeyword.value)"
          name="searchKey"
          id="searchKey"
          placeholder="Search any product"
        />
        <mat-hint>Search any product</mat-hint>
      </mat-form-field>
      <div class="album py-5 bg-body-tertiary">
        <div class="container">
          <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 g-3">
            <div class="col" *ngFor="let p of productDetails">
              <div class="card shadow-sm">
                <img
                  [src]="p.productImages[0].url"
                  class="card-img-top"
                  alt="{{ p.productName }} {{ ml }}"
                />
                <div class="card-body">
                  <div class="h-25">
                    <p
                      class="card-text"
                      style="
                        white-space: inherit;
                        height: 45px;
                        width: 200px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                      "
                    >
                      {{ p.productDescription }}
                    </p>
                  </div>
                  <h6 class="card-title">{{ p.productName | uppercase }}</h6>
                  <p>
                    <b>&#8377; {{ p.productDiscountedPrice }}</b> &nbsp;
                    <b style="text-decoration: line-through"
                      >&#8377;{{ p.productActualPrice }}</b
                    >
                  </p>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <div class="btn-group">
                      <button
                        type="button"
                        mat-raised-button
                        (click)="showProductDetails(p.productId)"
                      >
                        View Details
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <mat-paginator
        [length]="pageNumber"
        [pageSize]="pageSize"
        [pageSizeOptions]="[4, 8, 12]"
        (page)="nextPage($event)"
      >
      </mat-paginator>
      <div
        class="text-center mt-5"
        style="padding-bottom: 100px"
        *ngIf="showLoadButton"
      >
        <button
          type="button"
          mat-raised-button
          color="primary"
          (click)="loadMoreProduct()"
        >
          Load more
        </button>
      </div>
    </div></mat-sidenav-content
  >
</mat-sidenav-container>
