@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap");
.mat-grid-tile {
  width: 300px;
  display: flex;
  position: absolute;
}
.row {
  margin: 0;
  padding: 0;
  width: fit-content;
}
.image-container {
  padding: 0;
  width: 250px;
}
img {
  width: 100%;
  height: auto;
}
.container {
  max-width: 100%;
}
.btn-group > button {
  background-color: purple;
  color: whitesmoke;
}
@media only screen and (max-width: 600px) {
  .btn-group > button {
    background-color: purple;
    color: whitesmoke;
    width: auto;
    font-size: 11.5px;
    font-weight: 100;
  }
}
.card {
  background-color: rgb(233, 208, 228);
}
