<mat-sidenav-container>
  <mat-sidenav></mat-sidenav>
  <mat-sidenav-content>
    <div class="container-about">
      <div class="float-1 p-5">
        <img
          class="float-1-img img-fluid"
          src="../../assets/images/aboutus/355639417_814821383391982_7861505778644612873_n.jpg"
        />
        <div class="float-1-text col">
          <h1>Welcome to</h1>
          <h2>The Perfume Store,</h2>
          <p>
            where luxury meets affordability! We take pride in offering a wide
            range of branded perfumes at prices that won't break the bank. Our
            mission is to provide our customers with the perfect scent to
            elevate their everyday experiences, without compromising on quality.
          </p>
        </div>
      </div>
      <div class="slogan text-center">
        <p>"Unveil the Essence of Luxury at Affordable Prices"</p>
      </div>
      <div class="float-2 p-5 col">
        <div class="float-2-text">
          <h1>Our Vision:</h1>
          <h2>Creating a Fragrance Haven with Exquisite Scents</h2>
          <p>
            At The Perfume Store, we believe that luxury should be accessible to
            everyone. We are passionate about bringing you an exquisite
            collection of branded perfumes at affordable prices. With our wide
            range of scents, we aim to unveil the essence of luxury, empowering
            you to express your unique personality through the captivating power
            of fragrance.
          </p>
        </div>
        <img
          class="float-2-img img-fluid"
          src="../../assets/images/aboutus/355253653_646848914164473_2854420320948005382_n.jpg"
        />
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
