@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap");

mat-sidenav-container {
  margin-top: 20px;
  height: 100vh;
  /* background-color: aqua; */
}
mat-sidenav {
  width: 200px;
}
button {
  font-family: "Dosis", sans-serif;
  color: black;
  display: flex;
  justify-content: space-around;
  background-color: white;
  align-items: center;
  height: 50px;
  border-style: solid;
  border-width: 0;
  border-bottom-width: 1px;
  border-color: aliceblue;
  width: 100%;
}

i {
  font-size: larger;
}
.active {
  border-width: 0 5px 0 0;
  border-color: purple;
}
