<!-- <div class="container mt-5">
  <div class="card text-center" style="color: green; padding: 20px">
    <h1>You are Admin</h1>
  </div>
</div> -->
<mat-sidenav-container class="tp-container">
  <mat-sidenav mode="side" opened>
    <button routerLink="addNewProduct">
      Add Product<i class="bi bi-file-plus"></i>
    </button>
    <button routerLink="showProductDetails">
      Show Product<i class="bi bi-view-list"></i>
    </button>
    <button routerLink="orderInformation">
      view Orders<i class="bi bi-info-square"></i>
    </button>
  </mat-sidenav>
  <mat-sidenav-content><router-outlet></router-outlet></mat-sidenav-content>
</mat-sidenav-container>
