<owl-carousel-o>
  
</owl-carousel-o>
<div class="container mt-5 w-100 h-100">
  <mat-tab-group dynamicHeight mat-align-tabs="center">
    <mat-tab routerLink="men" label="First"
      ><app-bestseller></app-bestseller
    ></mat-tab>
    <mat-tab label="Second"></mat-tab>
  </mat-tab-group>
</div>
<div class="main-container">
  <h3>Our Brands</h3>
  <div class="carousel-container">
    <carousel
      [loop]="true"
      [width]="carouselSize"
      [images]="image"
      [arrowsOutside]="true"
      [arrowsTheme]="'dark'"
      [cellsToShow]="cells"
      [cellWidth]="CarouselWidth"
      [height]="carouselheight"
      [margin]="carouselMargin"
      [autoplay]="true"
      [transitionDuration]="500"
      [autoplayInterval]="3000"
      [arrows]="false"
      [transitionTimingFunction]="'ease-out'"
    >
    </carousel>
  </div>

  <div class="foot-container">
    <div class="foot-image">
      <img src="../../assets/images/men-perfume.jpg" alt="" />
      <div class="foot-text">
        <p>
          Perfume For<br />
          Men
        </p>
        <button routerLink="men" class="btn btn-1">shop now</button>
      </div>
    </div>
    <div class="foot-image">
      <img src="../../assets/images/women-perfume.jpg" alt="" />
      <div class="foot-text">
        <p>
          Perfume For<br />
          Women
        </p>
        <button class="btn btn-2">shop now</button>
      </div>
    </div>
    <div class="foot-image">
      <img src="../../assets/images/unisex-perfume.jpg" alt="" />
      <div class="foot-text">
        <p>
          Perfume For<br />
          Unisex
        </p>
        <button class="btn btn-3">shop now</button>
      </div>
    </div>
  </div>
</div>
