<div class="container mt-5 text-center w-100 h-100"></div>
<div class="main-container">
  <h3>Our Brands</h3>
  <div class="carousel-container">
    <carousel
      [loop]="true"
      [width]="1000"
      [images]="image"
      [arrowsOutside]="true"
      [arrowsTheme]="'dark'"
      [cellsToShow]="5"
      [cellWidth]="200"
      [height]="150"
      [margin]="70"
      [autoplay]="true"
      [transitionDuration]="500"
      [autoplayInterval]="3000"
      [arrows]="false"
      [transitionTimingFunction]="'ease-out'"
    ></carousel>
  </div>

  <div class="foot-container">
    <div class="foot-image">
      <img src="../../assets/images/men-perfume.jpg" alt="" />
      <div class="foot-text">
        <p>
          Perfume For<br />
          Men
        </p>
        <button class="btn btn-1">shop now</button>
      </div>
    </div>
    <div class="foot-image">
      <img src="../../assets/images/women-perfume.jpg" alt="" />
      <div class="foot-text">
        <p>
          Perfume For<br />
          Women
        </p>
        <button class="btn btn-2">shop now</button>
      </div>
    </div>
    <div class="foot-image">
      <img src="../../assets/images/unisex-perfume.jpg" alt="" />
      <div class="foot-text">
        <p>
          Perfume For<br />
          Unisex
        </p>
        <button class="btn btn-3">shop now</button>
      </div>
    </div>
  </div>
</div>
